@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
h1, h2, h4  {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 5px;
}

div.Highlights {
     background-color: #000000;
}
header {
    text-align: center;
    background-color: #000000;
}

html {
    background-image: url(../img/background.jpg);
}
#wrapper {
  margin: 0 auto;
  width: 75%;
  height: 3000px;
  background-color: rgba(255,255,255,0.6);
  }
