input[type=file] { 
	color: red;  	
	/*display: inline-block; */
	width: 20%; 	
	background-color: blue;
	margin-left: 10%;
	button 
	/*float: right;*/
	/*padding-left: 15%;*/
	
       
	/*text-shadow: 0 0 2px black;       */
}
input[type=button] { 
	color: red;  	
	/*display: inline-block; */
	width: 20%; 	
	background-color: blue;
	margin-left: 10%;
	button 
	/*float: right;*/
	/*padding-left: 15%;*/
	
       
	/*text-shadow: 0 0 2px black;       */
}