$color-sunflower: #e3e127;
$color-bunker:#171f22;

$animation-settings:all 0.25s ease-in-out;

$height-menu-bar:37px;

// default div indention settings
$indention-min:2px;
$indention-default:14px;
$indention-extra:20px;