{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>scholen <small>school toevoegen</small></h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i> scholen</li>
                <li class="active"><i class="fa fa-dashboard"></i> Nieuw</li>
            </ol>
        </div>

        <div class="col-lg-12">

            {% if request_method == 'POST' %}
            <div class="panel panel-success">
                <div class="panel-heading">
                <h3 class="panel-title">school toegevoegd!</h3>
                </div>
                <div class="panel-body">
                    Naam: {{new_school.name}} <br/>
                </div>
            </div>
            <a href="{{ urlFor('schools_overview') }}" class="btn btn-primary">
                <i class="fa fa-dashboard"></i> Overzicht
            </a>
            <a href="{{ urlFor('schools_edit', {"id": new_school.id}) }}" class="btn btn-info">
                <i class="fa fa-edit"></i> Wijzig
            </a>
            <a href="{{ urlFor('schools_delete', {"id": new_school.id}) }}" class="btn btn-danger">
                <i class="fa fa-edit"></i> Verwijder
            </a>
            {%endif%}

            {% if request_method == 'GET' %}
            <form class="form-horizontal" method="POST" action="{{ urlFor('schools_new') }}">
            <fieldset>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="title">Naam</label>
              <div class="col-md-8">
              <input id="title" name="name" type="text" placeholder="Martin Luther King School" class="form-control input-md" required="">

              </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 control-label">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-plus"></i> Voeg toe
                    </button>
                </div>
            </div>
            </fieldset>
            </form>
            {%endif%}

        </div>
    </div>
{%endblock%}
