/* HELPERS - Helpers Variable file and mxins
========================================================================== */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* IE < 8 */
/* BASE - Base files
========================================================================== */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #827a68;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

p, pre, li {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #827a68;
  margin-bottom: 0px; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #827a68;
  margin: 0; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #827a68;
  text-transform: uppercase;
  margin: 20px 0px 10px; }

.touch-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.clickable {
  cursor: pointer; }

a {
  background: #171f22;
  color: white;
  padding: 3px;
  text-decoration: none; }

.animatedCSS {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

/* FRAMEWORK - Structure and layout files.
========================================================================== */
/** File needs some cleaning */
.noscroll, html, body {
  overflow: hidden; }

html, body {
  margin: 0;
  padding: 0; }

.full-width, #reader, #reader #html5_qrcode_video {
  width: 100%;
  height: 100%; }

.table {
  width: 100%;
  display: table; }

.cell {
  vertical-align: top;
  display: table-cell; }

.border-box, div {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.block {
  display: table-cell; }

.row {
  display: table-row;
  width: 100%; }

.span-one {
  width: 100%; }

.span-two-third {
  width: 66.66667%; }

.span-one-third {
  width: 33.33333%; }

.pos-left {
  left: 0px; }

.pos-right {
  right: 0px; }

.pos-top {
  top: 0px; }

.pos-bottom {
  bottom: 0px; }

/* COMPONENTS - Specific components.
========================================================================== */
.notification-bar {
  top: -100px;
  position: absolute;
  border: 1px solid #7f9a40;
  background: #9fc150;
  border-radius: 5px;
  padding: 5px;
  border-bottom-width: 2.5px !important;
  font-family: monospace;
  text-align: center;
  left: 14px;
  right: 14px;
  color: black; }
  .notification-bar.enabled {
    top: 14px; }
  .notification-bar.error {
    background: red;
    border-color: darkred;
    color: white; }

.artwork {
  position: absolute;
  z-index: 100000;
  background: #e3e127;
  color: white;
  width: 100%;
  height: 100%;
  padding: 14px;
  top: 100%; }
  .artwork.enabled {
    top: 0px; }

/*# sourceMappingURL=default.css.map */
